@font-face {
  font-family: "Modern";
  src: url("./assets/Fonts/montserrat/Montserrat-Light.ttf")
    format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Modern";
  src: url("./assets/Fonts/montserrat/Montserrat-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Modern";
  src: url("./assets/Fonts/montserrat/Montserrat-Medium.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Modern";
  src: url("./assets/Fonts/montserrat/Montserrat-SemiBold.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Modern";
  src: url("./assets/Fonts/montserrat/Montserrat-Bold.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Modern";
  src: url("./assets/Fonts/montserrat/Montserrat-ExtraBold.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "Modern", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body{
  overflow-x: hidden;
}

@media screen and (max-width: 1225px) {
  .img-container {
    display: flex;
    justify-content: flex-end; 
  }
  .imgstatic {
    width: 90%;
  }
}
@media screen and (max-width: 1061px) {

  .imgstatic {
    width: 84%!important;
  }
}
